*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*general style*/

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

.hidden-heading{
    display: none;
}
/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&family=Ranchers&display=swap');


/*header*/

header{
    background-color:#fff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}



#menu{
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;    
}

#menu >li {
    margin-bottom: 1em;
}

.active{
    border-bottom: 1px solid #3a3a3a;
}

/*Navbar style with dorpdown toggle*/
nav{
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

#nav-toggle:checked~nav{
    display: block;
}

#nav-toggle{
    display: none;
}

.nav-toggle-label{
    font-size: 2rem;
}

/*main content*/
main{
    
    /*main surplus space to push footer down*/
    flex:1 0 auto;
    margin-top: 47px;
}

/*hero section*/

#hero {
    height: 600px;
    width: 100%;
    background:url("assets/images/hero-image.webp") no-repeat center center/cover;
    position: relative;

}

#cover-text{
    background-color: rgba(241, 109, 107, .7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text > h2, #cover-text > h3 {
    color: #fff;
}

/*Style Reason Section*/

#reasons{
    width: 90%;
    margin: 20px auto;
     
}

#reasons > h2{
    margin-bottom: 20px;
    font-size: 280%;
    text-align: center;
}

#benefits-physical div {
line-height: 20px;
margin-bottom: 20px;
}

#benefits-physical hr{
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;;
}

#benefits-physical p {
    padding: 0 20px;
}

#benefits-mental div{
    line-height: 20px;
margin-bottom: 20px;
}

#benefits-mental hr{
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;;
}

#benefits-mental p {
    padding: 0 20px;
}

/*Reason Image*/

#circle-cover-bg{
    height: 90vw;
    width: 90vw;
    background:url("assets/images/reasons-image.webp") no-repeat top center/cover;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#benefits-image{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Meet Up Image Background*/

#times{
    background: url("assets/images/dublin-city.webp") no-repeat center/cover;
    display: flex;
    flex-wrap: wrap;
}

#times div{
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    padding: 15px;
    text-align: center;
    /*This will not wrap on screens of less than 400px wide. Each div will expand to fill the available space on its row*/
    flex-basis: 200px;
    flex-grow: 1;
    /*creates a grid of meetup time divs over the backgroun image*/
    border: 2px solid #fff;
}

#times h3{
    color:#fafafa
}

/*Gallery Page*/

#photos{
    line-height: 0;
}

#photos img {
    width: 100%;
    line-height: 1em;
}




/*footer*/
#social-networks{
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
#social-networks i{
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}


/*media query tables */

@media screen and (min-width: 769px){
    /*header*/
    nav{
        display: block;
        position: relative;
        box-shadow: none;
        width:fit-content ;
        padding-right: 1rem;
    }
    #menu{
        display: flex;
    }

    #menu > li{
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo{
        font-size:280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /*Main Content*/
    main{
        margin-top: 79px;
    }

    /*hero text*/
    #cover-text{
        width: 300px;
        right: 50px;
    }

    /*Reason section*/

    #benefits-physical,
    #benefits-mental {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #benefits-physical > div,
    #benefits-mental >div{
        width: 75%;
    }

    #benefits-mental >div {
        text-align: end;
        align-self: flex-end;
    }

}

/*media query larger than 992px */
@media screen and (min-width: 992px) {
    

    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}

/*media query desktop 1200px*/
@media screen and (min-width: 1200px) {

    #benefits{
        display: flex;
        flex-direction: row;
    }

    #benefits > div{
        flex: 1;
    }

    #benefits-image{
        order: 0;
    }
    #benefits-mental{
        order: 1;
    }

    #benefits-mental > div{
        align-self: flex-start;
    }

    #benefits-physical > div{
        align-self: flex-end;
    }



    
}


    
